/* Header */
.header-nav-wrap{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dedede;
}
.header-left{
    width: 0;
}
.nav-content{
    width: 95%;
    text-align: right;
}

.nav-content ul{
    width: 89%;
    height: 40px;
    line-height: 40px;
    /* margin: 0 23% 0 0; */
}
.nav-content ul li{
    padding-left: 30px;
    font-weight: 600;
    /* width: 170px; */
    display: inline-block;
    line-height: 0;
    font-size:0;
}
/* 메뉴 마우스 호버 */

.nav-contetn ul li a{
    line-height: 0;
    font-size:0;
}

.logo-wrap{
    width: 100%;
}

.logo{
    margin: 50px 0 50px 0;
    width: 100%;
    height: 108px;

}
.logo a{
    width: 100%;
    height: 100%;
    background: url(/artist/logo.png) no-repeat center;
    display: inline-block;
}


/* main-slide */
.slide-content{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to left, #eff0ea, #f1f2ec); */
    background:#fff;
    overflow: hidden;
    position: relative;
    z-index: 10;
} 
.slide-content .slide-box{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background: rgb(245, 253, 255);
    position: relative;
    overflow: hidden;
    z-index:1;
    line-height: 0;
    font-size:0;    
}
.slide-box div{    
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 0;
    font-size: 0;
}
/* 슬라이드 이미지 */
.slide-content .slide-box img{
    width: 100%;
    height: auto;
}
/* #main-wrap{
    width: 100%;
    height: 100%;
}
.slide-content{
    width: 100%;
    height: 100%;
}
.slide-content .slide-box{
    padding:0 0 50px;
}
.slide-content .slide-box ul{
    width: 100%;
    padding:5px;    
    display: flex;
    justify-content: center;
}
.slide-content .slide-box li{
    width: 60%;
    padding: 5px;
    position: relative;
} */

h2{
    margin: 100px 0 100px 0;
    text-align: center;
    font-size: 30px;
    font-weight:500;
    color:#000;
}


/* @media screen and (max-width:1200px) and (min-width:400px) {
    .slide-content .slide-box img{
        width: 100%;
        margin: 0 auto;
    }    
} */

/* 스크린이 600이하일 경우 */
@media all and (max-width:600px){
    .foot-cs, .foot-menu{
        display: none;
    }

}

.slick-dots{
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    /* align-items: center; */
    bottom:2%;
    left: 50%;

}
.slick-dots li{
    margin: 0 0.25rem;
    
}
.slick-dots button {
    display:block;
    width: 0.5rem;
    height: 0.5rem;
    padding:0;
    border: none;
    border-radius: 100%;
    background-color: #2a3736;
    cursor: pointer;
    text-indent:-9999px;
}
.slick-dots li.slick-active button{
    background-color:#eea629;
}

/* footer */
footer{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

.foot-cmp h3{
    margin-bottom:10px;
    font-weight: bold;
    color:#333;
}
.foot-cmp ul li{
    font-size:13px;
    line-height:22px;
    color:#666;
}

.foot-cs h3{
    margin-bottom:10px;
    font-weight: bold;
    color:#333;
}
.foot-cs ul li:first-child{
    font-size:36px;
    line-height: 40px;
    font-weight: 600;
    color:#333;
}

.foot-cs ul li{
    font-size:13px;
    line-height:22px;
    color:#666;
}

.foot-menu ul li{
    font-size:13px;
    color:#666;
}